<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />

  <script src="https://kit.fontawesome.com/7afd67fc69.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
  <link href="https://fonts.googleapis.com/css2?family=Engagement&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Hind:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">

  <title>Twisted Trees by Joshua LeBaron</title>

  {{ style('main') }}
  @!section('extracss')
</head>
<body>
  <div class="directory">
    <div class="logoWrapper">
      <a href="/"></a>
    </div>
    <div class="header">
      <h1 class="theTitle">Twisted Trees by Joshua LeBaron</h1>
      <div class="menu">
        <a class="directoryBtn" href="/">For Sale</a>
        <a class="directoryBtn" href="/best_work">Best Works</a>
        <a class="directoryBtn" href="/open_project">Open Projects</a>
        <a class="directoryBtn" href="/about_the_artist">About The Artist</a>
      </div>
    </div>
  </div>
  <div class="content">
    @!section('content')
  </div> 
</body>
</html>
