html, body {
  height: 100%;
  width: 100%;
}

.directory {
  display: flex;
  width: 100vw;
  height: 9em;
  background-color: rgb(168, 52, 9);
  align-items: center;
  justify-content: center;
}

.logo_wrapper a img {
  height: 30%;
  width: 30%;
}
