html, body {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  width: 0px;
}

.directory {
  display: flex;
  width: 100vw;
  position: relative;
  height: 11em;
  background-color: seagreen;
  align-items: center;
  justify-content: center;
}

.logoWrapper a {
  background-image: url("IMG-20210715-WA0006.jpg");
  background-position: center;
  background-size: cover;
  position: absolute;
  height: 7.1em;
  width: 7.1em;
  border-radius: 4.5em;
  left: 0;
  top: 0;
  margin-left: 11px;
  margin-top: 1.9em;
}

.theTitle {
  font-size: 60px;
  font-family: 'Engagement', cursive;
  margin-left: 69px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.directoryBtn {
  outline: none;
  text-decoration: none;
  cursor: pointer;
  color: white;
  background-color: black;
  padding: 9px;
  font-size: 23px;
  margin-left: 3px;
  margin-right: 3px;
  font-family: 'Montserrat', sans-serif;
}