.forSaleContent {
  position: relative;
}

.addListingBtn {
  outline: none;
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: -1.8em;
  margin-right: .6em;
  font-size: 70px;
  color: black;
}

.sellListing {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.photoDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: black;
  width: 100vw;
  height: 43vh;
}

.photoDisplay img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.photoBtn {
  position: absolute;
  border-radius: 9px;
  font-size: 31px;
  padding: 3px 11px 3px 11px;
  font-family: 'Hind', sans-serif;
  background-color: black;
  bottom: 0;
  margin-bottom: 13px;
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.sellListingBottom {
  display: flex;
  flex-direction: column;
  width: 100vw;
  position: relative;
  height: 30em;
  background-color: rgb(88, 82, 82);
  align-items: center;
}

.title {
  font-size: 60px;
  font-family: 'Nunito', sans-serif;
}

.edit {
  color: black;
  font-size: 41px;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 23px;
  margin-right: 111px;
  text-decoration: none;
  outline: none;
}

.trash {
  color: black;
  font-size: 41px;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 23px;
  margin-right: 11px;
  text-decoration: none;
  outline: none;
}

.purchaseContent {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 10vw;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 11px;
}

.price {
  font-size: 49px;
}

.purchaseContent a {
  border-radius: 9px;
  font-size: 39px;
  padding: 6px 11px 6px 11px;
  font-family: 'Hind', sans-serif;
  background-color: seagreen;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.description {
  font-size: 33px;
  width: 100vw;
  height: 100%;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  text-align: center;
  overflow-y: scroll;
}

.modal {
  font-family: 'Ubuntu', sans-serif;
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 45vh;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin: auto;
  width: 25em;
  height: 22em;
  border-radius: 25px;
  background-color: rgb(245, 38, 38);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
          box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.6s;
  animation-name: animatetop;
  animation-duration: 0.6s
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.close {
  color: white;
  float: right;
  font-size: 58px;
  margin-left: 5.9em;
  margin-top: 6px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal_text_container p {
  color: white;
  font-size: 28px;
  width: 12.5em;
  margin-top: .5em;
  margin-left: 1.1em;
}

.delete_sell_listing_btn {
  text-decoration: none;
  outline: none;
  color: white;
  background-color: black;
  margin: auto;
  width: 11.4em;
  border-radius: 18px;
  padding: 15px;
  padding-top: 16px;
  font-size: 27px;
}

.photoContent img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.addPhotoContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addPhotoContent input {
  font-size: 31px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: black;
  border-radius: 9px;
  padding: 3px 0px 3px 0px;
  font-family: 'Hind', sans-serif;
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.addPhotoContent button {
  border-radius: 9px;
  font-size: 39px;
  padding: 6px 11px 6px 11px;
  font-family: 'Hind', sans-serif;
  background-color: seagreen;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  color: black;
  margin-bottom: .2em;
}