.forSaleContent {
  height: calc(100vh - 10.9em);
  overflow-y: scroll;
  position: relative;
}

.addListingBtn {
  outline: none;
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: -1.9em;
  margin-right: .6em;
  font-size: 70px;
  color: black;
}

.sellListing {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.photoDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: black;
  width: 100vw;
  height: 43vh;
}

.photoDisplay img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.photoBtn {
  position: absolute;
  border-radius: 9px;
  font-size: 31px;
  padding: 3px 11px 3px 11px;
  font-family: 'Hind', sans-serif;
  background-color: black;
  bottom: 0;
  margin-bottom: 13px;
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.sellListingBottom {
  display: flex;
  flex-direction: column;
  width: 100vw;
  position: relative;
  height: 30em;
  background-color: rgb(88, 82, 82);
  align-items: center;
}

.title {
  font-size: 60px;
  font-family: 'Nunito', sans-serif;
}

.edit {
  color: black;
  font-size: 41px;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 23px;
  margin-right: 111px;
  text-decoration: none;
  outline: none;
}

.trash {
  color: black;
  font-size: 41px;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 23px;
  margin-right: 11px;
  text-decoration: none;
  outline: none;
}

.purchaseContent {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 10vw;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 11px;
}

.price {
  font-size: 49px;
}

.purchaseContent a {
  border-radius: 9px;
  font-size: 39px;
  padding: 6px 11px 6px 11px;
  font-family: 'Hind', sans-serif;
  background-color: seagreen;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.description {
  font-size: 33px;
  width: 100vw;
  height: 100%;
  font-family: 'Merriweather', serif;
  text-align: center;
  overflow-y: scroll;
}