.signSplishIn {
  font-size: 41px;
  font-family: 'Source Code Pro', monospace;
  font-weight: bolder;
}

.signOutBtnWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(88, 82, 82);
  height: calc(100vh - 10.9em);
  width: 100vw;
}

.theSignOutBtn {
  font-family: 'Roboto Slab', serif;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
  color: white;
  margin-top: 1em;
  font-size: 31px;
  padding: 11px 11px 11px 11px;
  background-color: black;
  border-radius: 10px 10px 10px 10px;
  margin-bottom: 33.1em;
}

.sign_in_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(88, 82, 82);
  height: calc(100vh - 10.9em);
  width: 100vw;
}

.notifications {
  font-size: 23px;
  padding: 15px;
  margin-top: 5px;
  margin-bottom: -25px;
  background-color: grey;
  max-width: 20em;
  width: 20em;
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

.input_errors {
  font-size: 23px;
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: grey;
  max-width: 20em;
  width: 20em;
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

.username {
  border: none;
  border: 6px solid black;
  width: 20em;
  outline: none;
  text-align: center;
  background-color: rgb(88, 82, 82);
  font-size: 33px;
  margin-top: 1.1em;
}

.username::placeholder {
  font-size: 33px;
  color: black;
}

.password {
  border: none;
  border: 6px solid black;
  width: 20em;
  outline: none;
  background-color: rgb(88, 82, 82);
  text-align: center;
  font-size: 33px;
  margin-top: 1.1em;
}

.password::placeholder {
  font-size: 33px;
  color: black;
}

.sign_in_btn {
  font-family: 'Roboto Slab', serif;
  border: none;
  outline: none;
  background: none;
  color: white;
  margin-top: 1em;
  font-size: 31px;
  padding: 11px 11px 11px 11px;
  background-color: black;
  border-radius: 10px 10px 10px 10px;
  margin-bottom: 33.1em;
}