@layout('main')

@section('extracss')
  {{ style('associates/seeThePhoto') }}
@endsection

@section('content')
  <div class="seeThePhoto">
    @each( photo in thePhotos )
      <img src="{{ assetsUrl('uploads/' + photo.image) }}" />
    @endeach
  </div>
@endsection