@layout('main')

@section('extracss')
  {{ style('directory/aboutTheArtist') }}
@endsection

@section('content')
  <div class="aboutTheArtistContent">
    <h1>About The Artist</h1>
  </div>
@endsection